:root {
    --width: 720px;
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1.2em;
    --background-color: #120c0e;
    --heading-color: #d9d8dc;
    --text-color: #d9d8dc;
    --link-color: #eb99a1;
    --visited-color:  #e26f7a;
    --code-background-color: #40363a;
    --code-color: #d9d8dc;
    --blockquote-color: #d9d8dc;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
	color: var(--visited-color);
}

nav a {
    margin-right: 8px;
}

strong, b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid var(--link-color);
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
}

blockquote {
    border-left: 5px solid var(--link-color);
  	padding: 0 15px;
  	margin: 15px 0;
  	line-height: 50px;
  	font-size: 16px;
  	background-color: var(--code-background-color);
    color: var(--code-color);
}

footer {
    padding: 25px 0;
    text-align: center;
}

.title h1 {
 	color: var(--link-color); 
}

.title h1:hover {
  	color: var(--visited-color);
}

.inline {
    width: auto !important;
}

.highlight, .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
 	min-width: 150px; 
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}
a.blog-tags {
  line-height: 2;
  margin-right: 12px;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.7;
}

p.byline {
  font-style: italic;
}

/* "Skip to main content" link */
.skip-link {
  position: absolute;
  top: 5;
  transform: translateY(-600%);
  transition: transform 0.5s;
  background-color: #1d1f27;
  padding: 6px;
}

.skip-link:focus {
  transform: translateY(0%);
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 0px;
  text-align: center;
  font-style: italic;
  color: #ccc;
}
